.menu{
    display: flex;
    z-index: 2;
}

.logo{
   height: 5vh;
   margin-left: 9vw;
}

.list{
    color: aliceblue;
    height: 5vh;
    margin-top: 1vh;
}

li{
    display: inline; 
    margin-left: 2vw;
}
li:hover{
    background-color: #43566e;
    border-radius: 20px;
    padding: 5px 10px;
}
.new{
    background-color: #0176d5;
    padding: 3px;
    border-radius: 12px;
}

/* wxs */

.btn{
    text-align: center;
    margin-left: 2vw;
    height: 6vh;
    width: 6vw;
    background-color: transparent;
    color: aliceblue;
    border: solid 1px aliceblue;
}

.drop{
    position: absolute;
    top: 14vh;
    right: 15vh;
    height: 60vh;
    width: 84vw;
    background-color: white;
    color: black;
    padding-left: 1px;
    z-index: 2;
}